@charset "UTF-8";

@keyframes opacy{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes zoomIn{
	0%{
		transform: scale(0);
		opacity: 0;
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes alter{
	0%{
		transform: scale(0);
		opacity: 0;
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes magen{
	0%{
		transform: scale(0);
		opacity: 0;
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes ache{
	0%{
		transform: scale(0);
		opacity: 0;
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes acheim{
	0%{
		transform: scale(0);
		opacity: 0;
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes achess{
	0%{
		transform: scale(0);
		opacity: 0;
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes achesc{
	0%{
		transform: scale(0);
		opacity: 0;
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes achass{
	0%{
		transform: scale(0);
		opacity: 0;
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}