@media (max-width: 1024px) {
    .habilidades-row .habilidades-column{
        width: 20rem;
    }
    .portafolio .portaContenedor{
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 768px) {
    .home{
        height: 45rem;
    }
    .home-content h1{
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.3;
    }
    .habilidades-row .habilidades-column{
        width: 100%;
    }
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 5%;
        background-color: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        -webkit-transition: .25s ease;
        -moz-transition: .25s ease;
        -ms-transition: .25s ease;
        -o-transition: .25s ease;
        transition-delay: .25s;
    }
    .navbar.active{
        left: 0;
        transition-delay: 0s;
    }
    .navbar .active-nav{
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s;
        -webkit-transition: .25s;
        -moz-transition: .25s;
        -ms-transition: .25s;
        -o-transition: .25s;
        transition-delay: .25s;
    }
    .navbar.active .active-nav{
        left: 0;
        transition-delay: .25s;
    }
    .navbar a{
        display: block;
        margin-top: 2rem;
        margin-left: 5%;
        margin-bottom: 2rem;
        font-size: 1rem;
        transform: translateX(-20rem);
        -webkit-transform: translateX(-20rem);
        -moz-transform: translateX(-20rem);
        -ms-transform: translateX(-20rem);
        -o-transform: translateX(-20rem);
        transition: .25s ease;
        -webkit-transition: .25s ease;
        -moz-transition: .25s ease;
        -ms-transition: .25s ease;
        -o-transition: .25s ease;
        transition-delay: 0s;
}
    .navbar.active a{
        transform: translateX(0rem);
        -webkit-transform: translateX(0rem);
        -moz-transform: translateX(0rem);
        -ms-transform: translateX(0rem);
        -o-transform: translateX(0rem);
        transition-delay: .25s;
}
.contenedor .titulo{
    font-size: 1.2rem;
}

}

@media (max-width: 500px){
    .home{
        height: 70rem;
        background-color: var(--bg-color);
        background-image: none;
    }
    .home-content h1{
        text-align: center;
        margin-top: -5rem;
    }
    .home-content{
        max-width: 100%;
    }
    .home-content .text-animate{
        width: 100%;
        text-align: center;
    }
    .home-content p{
        text-align: center;
    }

    .btn-box{
        display: block;
        width: 100%;
        height: 3rem;
    }
    .btn-box .btn{
        width: 100%;
    }
    .about-img img{
        width: 75%;
    }
    .about-img .circle-spin{
        width: 80%;
        height: 80%;
    }
    .habilidades-box .habilidades-content{
        padding: .5rem .6rem;
    }
    .portafolio .portaContenedor{
        grid-template-columns: 1fr;
    }
    .footer{
        justify-content: centers;
    }
    .footer-text p{
        text-align: center;
    }
    .footer .footer-iconTop{
        width: 100%;
        text-align: center;
    }
    .footer-iconTop{
        margin-top: 1.5rem;
    }
}

@media (max-width: 400px){
    section{
        padding: 5rem 5%;
    }
    .header{
        max-width: 100%;
    }

    .home{
        width: 100%;
    }
    .logo{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .home-content h1{
        font-size: 2.5rem;
        margin-top: -5rem;
    }
    .heading{
        font-size: 2.5rem;
    }
    .home-sci{
        display: flex;
        justify-content: center;
    }
    .home-sci a{
        margin: 0 .2rem;
    }
    .habilidades-column .title{
        font-size: 1.5rem;
        padding-top: 1rem;
    }
    .about-img{
        width: 15rem;
        height: 15rem;
    }
    .about-img img{
        width: 75%;
    }
    .about-img .circle-spin{
        width: 80%;
        height: 80%;
    }
    .educacion-content .content h3{
        font-size: 1.2rem;
    }
    .educacion-content .content{
        padding: .4rem;
    }
    .educacion-box .educacion-content{
        margin-left: 1rem;
    }
    .educacion-box .educacion-content::before{
        left: -1.85rem;
        width: 1.5rem;
        height: 1.5rem;
    }

}



@media (max-width: 300px){
    .header{
        justify-content: center;
    }
    .logo{
        font-size: 1rem;
        font-weight: 500;
    }
}