@media screen and (min-width: 360px){
	.h1_info{
		padding-top: 3rem;
		font-size: 1.3rem;
	}
	.p_info{
		width: 80%;
		padding-top: 1.5rem;
		font-size: .7rem;
	}
	.a_info{
		width: 90%;
		margin: auto;
		font-size: .8rem;
		padding-top: 1.5rem;
	}
	.info_icon img{
		padding-top: 1.5rem;
		width: 2.5rem;
	}
	.form{
		width: 14rem;
	}
	.form input{
		width: 14rem;
		padding-left: 1rem;
	}
	.form textarea{
		width: 14rem;
	}
	.form .btn{
		width: 14rem;
	}
}
@media screen and (min-width: 600px){
	.form{
		width: 15rem;
	}
	.form input{
		width: 15rem;
	}
	.form textarea{
		width: 15rem;
	}
	.form .btn{
		width: 15rem;
	}
}
@media screen and (min-width: 600px){
	.h1_info{
		padding-top: 3rem;
		font-size: 1.5rem;
	}
	.p_info{
		padding-top: 1rem;
		font-size: .8rem;
	}
	.a_info{
		font-size: .9rem;
		padding-top: 1.5rem;
	}
	.info_img{
		margin-top: 0;
		width: auto;
		height: 448px;
		z-index: 300;
	}
	.info_icon img{
		padding-top: 1.5rem;
		width: 3rem;
	}
	.con{
		display: inline-block;
	}
}
@media screen and (min-width: 700px){
	.awas{
		display: block;
	}
	.perfil{
		width: 25rem;
		height: 30rem;
		top: calc(50% - 15rem);
		left: calc(50% - 12.5rem);
	}
	.circuloTrasparente{
		width: 15rem;
		height: 15rem;
		margin-top: 4rem;
	}
	.circulo{
		width: 11.5rem;
		height: 11.5rem;
		margin-top: 4rem;
	}
	.imagen{
		width: 10rem;
		height: 10rem;
		margin-top: 4rem;
	}
	.nombre{
		margin-top: 3rem;
	}
	
	.nav{
		justify-content: space-between;
	}
	
	.awas{
		margin-left: 10%;
	}
	.nav .ul{
		display: flex;
		margin-top: .3rem;
		margin-right: 10%;
	}
	.nav a{
		font-size: .9rem;
		padding: 0 1rem;
	}
	/*PORTAFOLIO*/
	.portafolioGrip{
		width: 80%;
		margin: 0 auto;
	}
	/*HABILIDADES*/
	.habilidad{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem;
	}
	.conocimientos{
		width: 90%;
		margin: auto;
	}
	.herramientas{
		width: 90%;
		margin: auto;
	}
}
@media screen and (min-width: 1200px){
	/*PORTAFOLIO*/
	.portafolioSeccion h2{
		font-size: 2rem;
	}
	/*HABILIDADES*/
	.habilidad h2{
		font-size: 2rem;
	}
	.conocimientos{
		width: 80%;
		margin: auto;
	}
	.herramientas{
		width: 80%;
		margin: auto;
	}
}
@media screen and (min-width: 1700px){
	/*NAV*/
	.nav a{
		font-size: 1rem;
		padding: 0 1.5rem;
	}

	/*HABILIDADES*/
	.conocimientos{
		width: 70%;
		margin: auto;
	}
	.herramientas{
		width: 70%;
		margin: auto;
	}
	/*SOBRE MI*/
	.sobreMi-info p{
		font-size: 1.3rem;
	}
}
@media screen and (min-width: 2500px){
	/*NAV*/
	.navbar{
		height: 3rem;
	}
	.nav .img{
		width: 1.5rem;
		height: 1.5rem;
	}
	.nav a{
		font-size: 1.4rem;
		padding: .5rem 2rem;
	}
	.nav .ul{
		margin-top: .6rem;
	}
	/*HABILIDADES*/
	.conocimientos{
		width: 70%;
		margin: auto;
	}
	.herramientas{
		width: 70%;
		margin: auto;
	}
}